.container {
  padding: 0 2rem;
  background-color: black;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #fdfdfd;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.top_bar {
  height: 10vh;
  width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: aqua; */
}

.icons {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.icon {
  margin: 7px;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.overlapGrid {
  display: grid;
  grid-template-areas: "overlay";
}

.overlapGrid > span {
  grid-area: overlay;
}
.overlapGrid > div {
  grid-area: overlay;
}


.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.header_section {
  width: 350px;
}

.header_image_1 {
  position: relative;
  height: 100%;
  width: 140px;
  padding-top: 230px;
}

.header_image_2 {
  position: relative;
  height: 100%;
  width: 140px;
  padding-top: 290px;
}

.header_image_3 {
  position: relative;
  height: 100%;
  width: 260px;
  padding-left: 45px;
  padding-top: 30px;
}

.header_image_4 {
  position: relative;
  height: 100%;
  width: 238px;
  padding-left: 20px;
  padding-top: 10px;
}

.header_image_5 {
  position: relative;
  height: 100%;
  width: 330px;
  padding-left: 0px;
  padding-top: 60px;
}

.header_image_6 {
  position: relative;
  height: 100%;
  width: 295px;
  padding-left: 215px;
  padding-top: 100px;
}

.header_image_21 {
  position: relative;
  height: 100%;
  width: 285px;
  padding-left: 283px;
  padding-top: 270px;
}

.header_image_22 {
  position: relative;
  height: 100%;
  width: 275px;
  padding-left: 273px;
  padding-top: 370px;
}

.header_image_23 {
  position: relative;
  height: 100%;
  width: 260px;
  padding-left: 45px;
  padding-top: 200px;
}

.header_image_24 {
  position: relative;
  height: 100%;
  width: 278px;
  padding-left: 60px;
  padding-top: 240px;
}

.header_image_25 {
  position: relative;
  height: 100%;
  width: 300px;
  padding-left: 0px;
  padding-top: 200px;
}

.header_image_26 {
  position: relative;
  height: 100%;
  width: 140px;
  padding-top: 470px;
}

.header_image_27 {
  position: relative;
  height: 100%;
  width: 170px;
  padding-left: 30px;
  padding-top: 520px;
}

.header_image_31 {
  position: relative;
  height: 100%;
  width: 300px;
  padding-top: 265px;
}

.header_image_32 {
  position: relative;
  height: 100%;
  width: 250px;
  padding-top: 275px;
}

.header_image_33 {
  position: relative;
  height: 100%;
  width: 260px;
  padding-left: 45px;
  padding-top: 40px;
}

.header_image_34 {
  position: relative;
  height: 100%;
  width: 278px;
  padding-left: 60px;
}

.header_image_35 {
  position: relative;
  height: 100%;
  width: 150px;
  padding-left: 20px;
  padding-top: 20px;
}

.header_image_36 {
  position: relative;
  height: 100%;
  width: 295px;
  padding-left: 200px;
}

.main_section {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section_divider {
  height: 40px;
  /* width: 100%; */
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.section_divider_line {
  min-width: 90vw;
  padding-left: 20px;
}


